.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: rgb(114, 122, 124);
    color: white;
    padding: 0px 20px 0px 20px;
}

.nav-links {
    list-style: none;
    width:80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links li {
    color: rgb(238, 234, 234);
    font-size: 24px;
}

.nav-links a {
    text-decoration: none;
}

.nav-links li:hover {
    text-shadow: 2px 2px 4px rgb(248, 245, 245);
}

.nav-links img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.cart-nav {
    display: flex;
}