.picture-container img {
    height: 70vh;
    width: 50vh;
}

.picture-container {
    text-align: center;
}

.picture-container img:hover {
    box-shadow: 0 0 5px 5px rgb(196, 192, 192);
    transform: translateX(2px);
    transform: translateY(2px);
}

.figure-container {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 30px;
}

.item-ui {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.plus-sign {
    height: 25px;
    width: 25px;
}

.minus-sign {
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

.minus-sign:hover {
    cursor: pointer;
}

.plus-sign:hover {
    cursor: pointer;
}

.minus-sign:active {
    transform: translateX(1px);
    transform: translateY(1px);
}

.plus-sign:active {
    transform: translateX(1px);
    transform: translateY(1px);
}

.title-container {
    text-align: center;
}

.price-display {
    position: relative;
    border: solid 2px black;
    top: -550px;
    left: 50px;
    background-color: white;
    width: 75px;
    height: 25px;
    padding: 25px 0;
    border-radius: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Droid Serif;
}

.added-cart-message-container {
    position: absolute;
    text-align: center;
    width: 60vh;
}

.interaction-container {
    display: flex;
    margin-left: 40px;
}

.interaction-container button{
    align-self: center;
    cursor: pointer;
}

.interaction-container input{
    align-self: center;
}